#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "row2col";
        col-gpios
            = <&micromod 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&micromod 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&micromod 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&micromod 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&micromod 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&micromod 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        row-gpios
            = <&micromod 6 (GPIO_ACTIVE_HIGH)>
            , <&micromod 7 (GPIO_ACTIVE_HIGH)>
            , <&micromod 8 (GPIO_ACTIVE_HIGH)>
            , <&micromod 9 (GPIO_ACTIVE_HIGH)>
            , <&micromod 10 (GPIO_ACTIVE_HIGH)>
            ;
               };


  

};

  &spi0 {
        compatible = "nordic,nrf-spim";
        /* Cannot be used together with i2c0. */
        status = "okay";
        sck-pin = <19>;
        mosi-pin = < 14>; // MOSI = COPI
        miso-pin = < 21>; // MISO = CIPO
	    cs-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;

        
        ls0xx@0 {
		compatible = "sharp,ls0xx";
		label = "DISPLAY";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <144>;
		height = <168>;
		// disp-en-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
	};

    };