if SHIELD_DRAGON_LEFT

config ZMK_KEYBOARD_NAME
    default "Dragon Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_DRAGON_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dragon Right"

endif

if SHIELD_DRAGON_LEFT || SHIELD_DRAGON_RIGHT

config ZMK_SPLIT
    default y

endif